<div class="container">
  <h2>PepTalk</h2>
  <h3>Share Inspirational Quotes with Your Friends</h3>

  <div id="signup">
    Register
    <form action="/users/new" method="post">
      <p><input type="text" name="username" placeholder="username"></p>
      <p><input type="text" name="first_name" placeholder="John"></p>
      <p><input type="text" name="last_name" placeholder="Smith"></p>
      <p><input type="submit"></p>
    </form>
  </div>

   <div id="login">
    Log In
    <form action="/users/new" method="post">
      <p><input type="text" name="username" placeholder="username"></p>
      <p><input type="password" name="password"></p>
      <p><input type="submit" value="Log In"></p>
    </form>
  </div>

