/* intro page */
h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: right;
  background-color: rgba(0, 0, 0, 0.5);
}

nav a#login-trigger {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

nav .login-box-off {
  display: none;
}

nav .login-box-on {
  display: block;
}

.intro {
  background: url("../img/homepage_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.signup-box {
  margin-right: -50%;
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%)
}

.signup-box input {
  height: 45px;
  border-radius: 10px;
}

.errors {
  color: red;
}

/* user's home page */

.user_profile_panel {
  height: 100%;
  width: 20%;
  float: left;
  clear: both;
}

.profile_picture {
  height: 50px;
  width: 50px;
}

.wall {
  height: 100%;
  width: 79%;
  float: right;
  background-color: #F0F0F0;
}

div.quote {
  list-style: none;
  height: 50px;
  border-left: 5px solid black;
  background-color: white;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  display: block;
  position: relative;
}

div.quote p {
  position: absolute;
  margin-left: 10px;
}

/* logout */
nav.logout {
  float: right;
}