/* intro page */
nav {
  height: 50px;
  display: flex;
}

h2 {
  font-size: 5em;
  margin: 0 auto;
}

h3 {
  font-size: 2em;
  position: absolute;
  top: 30%;
  margin-right: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.5);
}

nav a#login-trigger {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

nav .login-box-off {
  display: none;
}

nav .login-box-on {
  display: block;
}

.intro {
  background: url("../img/homepage_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.signup-box {
  margin-right: -50%;
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%)
}

.signup-box input {
  height: 45px;
  border-radius: 10px;
}

.errors {
  color: red;
}

/* user's home page */

.user_profile_panel {
  height: 100%;
  width: 20%;
  float: left;
  clear: both;
}

.profile_picture {
  height: 50px;
  width: 50px;
}

.wall {
  height: 100%;
  width: 79%;
  float: right;
  background-color: #F0F0F0;
}

/* nav bar after login */
nav.logout {
  float: right;
}

nav.logout ul li {
  display: inline-block;
}

/* follow button */
button.following {
  background-color: #3366FF;
}

/* discover page*/

.discover {
  border-top: 1px solid black;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.discover ul {
list-style: none;
}

.discover ul li {
  border-left: 5px solid black;
  margin-top: 30px;
  padding-left: 20px;
  height: 100%;
  background-color: white;
}

.discover ul li p {
  text-align: right;
}

