.intro {
  background: url("../img/homepage_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.signup-box {
  margin-right: -50%;
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%)
}

.signup-box input {
  height: 45px;
  border-radius: 10px;
}

.errors {
  color: red;
}