h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: right;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid red;
}

nav a#login-trigger {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

nav .login-box-off {
  display: none;
}

nav .login-box-on {
  display: block;
}

.intro {
  background: url("../img/homepage_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.signup-box {
  margin-right: -50%;
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%)
}

.signup-box input {
  height: 45px;
  border-radius: 10px;
}

.errors {
  color: red;
}

