<div class="intro">
<nav>
  <h2>PepTalk</h2>
  <ul>
    <li>
      <form action="/auth/soundcloud/callback" method="get">
        <input type="submit" value="Soundcloud Sign In">
      </form>
    </li>
    <li id="login">
    <a id="login-trigger" href="#">
    Log In  <span>▼</span>
    </a>
    <div class="login-box-off">
      <p class="errors"><%= flash[:login_error] %></p>
      <form action="/sessions" method="post">
          <input id="username" name="username" placeholder="Username">
          <input id="password" type="password" name="password" placeholder="Password">
          <br>
          <input type="submit" value="Log in">
      </form>
    </div>
    </li>
  </ul>
</nav>

    <h3>Share Inspirational Quotes and Speeches with Your Friends</h3>
    <form class="signup-box" action="/users/new" method="post">
          <p class="errors"><%= display_errors %></p>
          <input type="text" name="first_name" placeholder="John">
          <input type="text" name="last_name" placeholder="Smith">
          <input type="text" name="username" placeholder="username">
          <input type="password" name="password" placeholder="password">
        <input type="submit">
    </form>
</div>
